# Test Dataset
### Possible transformations

### Point:
Whatever transformations we do to the train dataset, we must be consistent and do those changes to the test dataset too - to take as different csv's for the modelling step.
For example:
Binary encoded train set - must also have binary encoded test set.
Log tarnsformed train set - must also have log transformed test set.

In [6]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from category_encoders import *
from feature_engine.encoding import CountFrequencyEncoder

In [12]:
test = pd.read_csv("./csv_files/test/test.csv")

In [13]:
test

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12,cont13
0,0,A,B,A,C,B,D,A,E,E,...,0.701679,0.595507,0.286912,0.279884,0.202234,0.242654,0.285147,0.264308,0.653654,0.302448
1,5,A,B,A,C,B,D,A,E,C,...,0.277480,0.479552,0.397436,0.476742,0.857073,0.516393,0.562065,0.730542,0.318492,0.736251
2,15,A,B,A,C,B,D,A,E,C,...,0.279508,0.676395,0.695284,0.253316,0.586934,0.548555,0.836193,0.759788,0.333572,0.273905
3,16,A,A,B,A,B,D,A,E,E,...,0.479503,0.759875,0.240049,0.298074,0.442475,0.596746,0.414131,0.255382,0.589080,0.311625
4,17,A,B,A,A,B,B,A,E,E,...,0.757845,0.210232,0.329851,0.616663,0.170475,0.263235,0.710961,0.224045,0.285860,0.794931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,499987,A,A,A,C,B,D,A,E,G,...,0.277365,0.963678,0.240482,0.686462,0.915165,0.848878,0.459598,0.590327,0.864873,0.425258
199996,499990,A,A,A,C,B,D,A,E,E,...,0.523174,0.232072,0.363421,0.694092,0.137002,0.319465,0.364527,0.388908,0.664357,0.224215
199997,499991,A,A,A,C,B,D,A,E,C,...,0.517103,0.432927,0.811876,0.328398,0.496017,0.538779,0.466338,0.643869,0.749590,0.457702
199998,499994,A,B,A,A,B,D,A,E,C,...,0.279153,0.837712,0.680886,0.534439,0.501588,0.809053,0.631704,0.766426,0.937139,0.796304
199999,499995,A,B,A,C,B,C,A,E,G,...,0.763246,0.792263,0.409425,0.285033,0.594721,0.824892,0.479586,0.683065,0.721518,0.722690

## Numerical transformations:
#### Log transformations:

In [14]:
numerical_test = test[["id", "cont0", "cont1", "cont2", "cont3", "cont4", "cont5", "cont6", "cont7", "cont8", "cont9", "cont10", "cont11", "cont12"]]
numerical_test

,id,cont0,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,cont11,cont12
0,0,0.331261,0.551131,0.486284,0.156058,0.701679,0.595507,0.286912,0.279884,0.202234,0.242654,0.285147,0.264308,0.653654
1,5,0.402404,0.617546,0.296852,0.187440,0.277480,0.479552,0.397436,0.476742,0.857073,0.516393,0.562065,0.730542,0.318492
2,15,0.530677,0.618126,0.760865,0.199872,0.279508,0.676395,0.695284,0.253316,0.586934,0.548555,0.836193,0.759788,0.333572
3,16,0.439653,0.487403,0.715786,0.192808,0.479503,0.759875,0.240049,0.298074,0.442475,0.596746,0.414131,0.255382,0.589080
4,17,0.389844,0.752760,0.315269,0.191734,0.757845,0.210232,0.329851,0.616663,0.170475,0.263235,0.710961,0.224045,0.285860
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,499987,0.919265,0.111147,0.199583,0.181354,0.277365,0.963678,0.240482,0.686462,0.915165,0.848878,0.459598,0.590327,0.864873
199996,499990,0.362875,-0.020197,0.469025,0.336185,0.523174,0.232072,0.363421,0.694092,0.137002,0.319465,0.364527,0.388908,0.664357
199997,499991,0.463060,0.740421,0.446293,0.411387,0.517103,0.432927,0.811876,0.328398,0.496017,0.538779,0.466338,0.643869,0.749590
199998,499994,0.708709,0.418490,0.193004,0.862700,0.279153,0.837712,0.680886,0.534439,0.501588,0.809053,0.631704,0.766426,0.937139
199999,499995,0.646432,0.484954,0.141289,0.753487,0.763246,0.792263,0.409425,0.285033,0.594721,0.824892,0.479586,0.683065,0.721518

In [32]:
log_numerical_test = pd.DataFrame()
log_numerical_test["id"] = numerical_test["id"]

log_numerical_test['cont0_log'] = np.log((1+ numerical_test['cont0']))
cont0_log_mean = np.round(np.mean(log_numerical_test['cont0_log']), 2)

log_numerical_test['cont1_log'] = np.log((1+ numerical_test['cont1']))
cont1_log_mean = np.round(np.mean(log_numerical_test['cont1_log']), 2)

log_numerical_test['cont2_log'] = np.log((1+ numerical_test['cont2']))
cont2_log_mean = np.round(np.mean(log_numerical_test['cont2_log']), 2)

log_numerical_test['cont3_log'] = np.log((1+ numerical_test['cont3']))
cont3_log_mean = np.round(np.mean(log_numerical_test['cont3_log']), 2)

log_numerical_test['cont4_log'] = np.log((1+ numerical_test['cont4']))
cont4_log_mean = np.round(np.mean(log_numerical_test['cont4_log']), 2)

log_numerical_test['cont5_log'] = np.log((1+ numerical_test['cont5']))
cont5_log_mean = np.round(np.mean(log_numerical_test['cont5_log']), 2)

log_numerical_test['cont6_log'] = np.log((1+ numerical_test['cont6']))
cont6_log_mean = np.round(np.mean(log_numerical_test['cont6_log']), 2)

log_numerical_test['cont7_log'] = np.log((1+ numerical_test['cont7']))
cont7_log_mean = np.round(np.mean(log_numerical_test['cont7_log']), 2)

log_numerical_test['cont8_log'] = np.log((1+ numerical_test['cont8']))
cont8_log_mean = np.round(np.mean(log_numerical_test['cont8_log']), 2)

log_numerical_test['cont9_log'] = np.log((1+ numerical_test['cont9']))
cont9_log_mean = np.round(np.mean(log_numerical_test['cont9_log']), 2)

log_numerical_test['cont10_log'] = np.log((1+ numerical_test['cont10']))
cont10_log_mean = np.round(np.mean(log_numerical_test['cont10_log']), 2)

log_numerical_test['cont11_log'] = np.log((1+ numerical_test['cont11']))
cont11_log_mean = np.round(np.mean(log_numerical_test['cont11_log']), 2)

log_numerical_test['cont12_log'] = np.log((1+ numerical_test['cont12']))
cont12_log_mean = np.round(np.mean(log_numerical_test['cont12_log']), 2)

In [33]:
log_numerical_test

,id,cont0_log,cont1_log,cont2_log,cont3_log,cont4_log,cont5_log,cont6_log,cont7_log,cont8_log,cont9_log,cont10_log,cont11_log,cont12_log
0,0,0.286126,0.438985,0.396279,0.145016,0.531616,0.467192,0.252245,0.246769,0.184181,0.217249,0.250873,0.234525,0.502987
1,5,0.338188,0.480910,0.259940,0.171800,0.244889,0.391740,0.334639,0.389838,0.619002,0.416335,0.446008,0.548434,0.276488
2,15,0.425710,0.481269,0.565805,0.182215,0.246476,0.516645,0.527850,0.225793,0.461804,0.437322,0.607694,0.565194,0.287861
3,16,0.364402,0.397032,0.539871,0.176310,0.391706,0.565243,0.215151,0.260882,0.366361,0.467968,0.346515,0.227440,0.463155
4,17,0.329192,0.561192,0.274042,0.175409,0.564089,0.190812,0.285067,0.480364,0.157409,0.233676,0.537055,0.202161,0.251428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,499987,0.651942,0.105393,0.181974,0.166662,0.244800,0.674819,0.215500,0.522633,0.649804,0.614579,0.378161,0.463939,0.623193
199996,499990,0.309597,-0.020404,0.384599,0.289818,0.420796,0.208698,0.309997,0.527147,0.128395,0.277226,0.310808,0.328518,0.509439
199997,499991,0.380530,0.554127,0.369004,0.344573,0.416802,0.359719,0.594363,0.283974,0.402806,0.430989,0.382768,0.497053,0.559381
199998,499994,0.535738,0.349593,0.176475,0.622027,0.246198,0.608522,0.519321,0.428165,0.406523,0.592804,0.489625,0.568958,0.661212
199999,499995,0.498610,0.395384,0.132158,0.561606,0.567156,0.583479,0.343182,0.250785,0.466699,0.601521,0.391762,0.520616,0.543207

## Categorical Transformations:

In [19]:
categorical_test = test[["id", "cat0", "cat1", "cat2", "cat3", "cat4", "cat5", "cat6", "cat7", "cat8", "cat9"]]
categorical_test

            id cat0 cat1 cat2 cat3 cat4 cat5 cat6 cat7 cat8 cat9
0            0    A    B    A    C    B    D    A    E    E    G
1            5    A    B    A    C    B    D    A    E    C    L
2           15    A    B    A    C    B    D    A    E    C    F
3           16    A    A    B    A    B    D    A    E    E    F
4           17    A    B    A    A    B    B    A    E    E    I
...        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
199995  499987    A    A    A    C    B    D    A    E    G    L
199996  499990    A    A    A    C    B    D    A    E    E    F
199997  499991    A    A    A    C    B    D    A    E    C    K
199998  499994    A    B    A    A    B    D    A    E    C    F
199999  499995    A    B    A    C    B    C    A    E    G    H

[200000 rows x 11 columns]

#### Ordinal Encoder:

In [ ]:
numerical_columns.iloc[::, 1:]

In [24]:
enc = OrdinalEncoder()
X = categorical_test
enc.fit(X)
ordinal_categorical_test = enc.transform(X)
ordinal_categorical_test = pd.DataFrame(ordinal_categorical_test)
ordinal_categorical_test

            id  cat0  cat1  cat2  cat3  cat4  cat5  cat6  cat7  cat8  cat9
0            0     1     1     1     1     1     1     1     1     1     1
1            5     1     1     1     1     1     1     1     1     2     2
2           15     1     1     1     1     1     1     1     1     2     3
3           16     1     2     2     2     1     1     1     1     1     3
4           17     1     1     1     2     1     2     1     1     1     4
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
199995  499987     1     2     1     1     1     1     1     1     4     2
199996  499990     1     2     1     1     1     1     1     1     1     3
199997  499991     1     2     1     1     1     1     1     1     2     6
199998  499994     1     1     1     2     1     1     1     1     2     3
199999  499995     1     1     1     1     1     4     1     1     4    10

[200000 rows x 11 columns]

#### One-Hot Encoding:

In [26]:
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(categorical_test)
onehot_categorical_test = enc.transform(categorical_test)
onehot_categorical_test

/home/klarakhalo/anaconda3/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,id,cat0_1,cat0_2,cat1_1,cat1_2,cat2_1,cat2_2,cat3_1,cat3_2,cat3_3,...,cat9_6,cat9_7,cat9_8,cat9_9,cat9_10,cat9_11,cat9_12,cat9_13,cat9_14,cat9_15
0,0,1,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,1,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15,1,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,16,1,0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,17,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,499987,1,0,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
199996,499990,1,0,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
199997,499991,1,0,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
199998,499994,1,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
199999,499995,1,0,1,0,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

### Binary Encoding:

In [28]:
enc = BinaryEncoder().fit(categorical_test)
binary_categorical_test = enc.transform(categorical_test)
binary_categorical_test

/home/klarakhalo/anaconda3/lib/python3.8/site-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

,id,cat0_0,cat0_1,cat1_0,cat1_1,cat2_0,cat2_1,cat3_0,cat3_1,cat3_2,...,cat7_3,cat8_0,cat8_1,cat8_2,cat8_3,cat9_0,cat9_1,cat9_2,cat9_3,cat9_4
0,0,0,1,0,1,0,1,0,0,1,...,1,0,0,0,1,0,0,0,0,1
1,5,0,1,0,1,0,1,0,0,1,...,1,0,0,1,0,0,0,0,1,0
2,15,0,1,0,1,0,1,0,0,1,...,1,0,0,1,0,0,0,0,1,1
3,16,0,1,1,0,1,0,0,1,0,...,1,0,0,0,1,0,0,0,1,1
4,17,0,1,0,1,0,1,0,1,0,...,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,499987,0,1,1,0,0,1,0,0,1,...,1,0,1,0,0,0,0,0,1,0
199996,499990,0,1,1,0,0,1,0,0,1,...,1,0,0,0,1,0,0,0,1,1
199997,499991,0,1,1,0,0,1,0,0,1,...,1,0,0,1,0,0,0,1,1,0
199998,499994,0,1,0,1,0,1,0,1,0,...,1,0,0,1,0,0,0,0,1,1
199999,499995,0,1,0,1,0,1,0,0,1,...,1,0,1,0,0,0,1,0,1,0

### Frequency encoding

In [30]:
encoder = CountFrequencyEncoder(encoding_method='frequency')
encoder.fit(categorical_test)
freq_categorical_test = encoder.transform(categorical_test)
freq_categorical_test

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9
0,0,0.9385,0.459765,0.921295,0.615925,0.991415,0.448975,0.975785,0.891675,0.314795,0.035390
1,5,0.9385,0.459765,0.921295,0.615925,0.991415,0.448975,0.975785,0.891675,0.403705,0.140290
2,15,0.9385,0.459765,0.921295,0.615925,0.991415,0.448975,0.975785,0.891675,0.403705,0.358115
3,16,0.9385,0.540235,0.078705,0.345235,0.991415,0.448975,0.975785,0.891675,0.314795,0.358115
4,17,0.9385,0.459765,0.921295,0.345235,0.991415,0.498310,0.975785,0.891675,0.314795,0.165955
...,...,...,...,...,...,...,...,...,...,...,...
199995,499987,0.9385,0.540235,0.921295,0.615925,0.991415,0.448975,0.975785,0.891675,0.139845,0.140290
199996,499990,0.9385,0.540235,0.921295,0.615925,0.991415,0.448975,0.975785,0.891675,0.314795,0.358115
199997,499991,0.9385,0.540235,0.921295,0.615925,0.991415,0.448975,0.975785,0.891675,0.403705,0.069420
199998,499994,0.9385,0.459765,0.921295,0.345235,0.991415,0.448975,0.975785,0.891675,0.403705,0.358115
199999,499995,0.9385,0.459765,0.921295,0.615925,0.991415,0.039725,0.975785,0.891675,0.139845,0.082190